<div class="footer">
  <div class="footer-links">
      <div><a href="#"><i class="fab fa-instagram"></i></a></div>
      <div><a href="#"><i class="fab fa-facebook"></i></a></div>
      <div><a href="#"><i class="fa-brands fa-x-twitter"></i></a></div>
      <div><a href="#"><i class="fa-brands fa-tiktok"></i></a></div>
  </div>
  <div class="mt-3"><p>Legal terms - Careers - Press - Cookies - Investor Relations</p></div>
  <div>
    Made with love in Paris <i class="fas fa-heart"></i>
  </div>
</div>
