<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-tiktok"></i></i></a>
  </div>
  <div class="footer-copyright">
    Made with love from Paris <i class="fas fa-heart"></i>
  </div>
</div>
