<body class="homepage">
<div class="video-background">
  <video autoplay loop muted>
    <source src="<%= asset_path('videobikes.mp4') %>" type="video/mp4">
    <!-- Si la vidéo n'est pas supportée -->
    Votre navigateur ne supporte pas la lecture de vidéos au format MP4.
  </video>
</div>

  </div>
</div>
</body>
