<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-bicycle"></i>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Login</a>
          </li>
      </ul>
    </div>
  </div>
</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1607623618478-384d71c091d0?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1><strong>Easy Wheel</strong>!</h1>
    <p>Find the best of bikes <strong>around you.</strong></p>
  </div>
</div>

<div class="container my-4">
  <div class="d-flex justify-content-evenly mb-3">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-warning dropdown-toggle">
        Type
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Cargo</a>
        <a class="dropdown-item" href="#">Tandem</a>
        <a class="dropdown-item" href="#">Trailer</a>
        <a class="dropdown-item" href="#">Long Tail</a>
      </div>
    </div>

    <div class="btn-group mr-2">
      <button type="button" class="btn btn-warning dropdown-toggle">
        Prix
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">0 - 20€</a>
        <a class="dropdown-item" href="#">20 - 40€</a>
        <a class="dropdown-item" href="#">40 - 60€</a>
        <a class="dropdown-item" href="#">60€ et plus</a>
      </div>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-warning dropdown-toggle">
        Département
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Paris</a>
        <a class="dropdown-item" href="#">Lyon</a>
        <a class="dropdown-item" href="#">Marseille</a>
        <a class="dropdown-item" href="#">Toulouse</a>
      </div>
    </div>
  </div>

<div class="container d-flex align-items-center flex-column justify-content-center">
  <div class="card-product">
    <img src="https://images.unsplash.com/flagged/photo-1576934848835-f72df622a04b?q=80&w=2748&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
    <div class="card-product-infos">
      <h2>Double cargo bike</h2>
      <p>Discover this Double Cargo Bike, perfect for active families! Transport your groceries or children safely and attach a small bike to the back for tandem adventures.</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1657490018291-0fb17e531de4?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
    <div class="card-product-infos">
      <h2>Yellow Tandem</h2>
      <p>Check out our Yellow Tandem, ideal for fun rides with a partner! Enjoy the outdoors together with this stylish and comfortable tandem bike.</p>
    </div>
  </div>

  <div class="card-product">
    <img src="https://www.babboe.fr/media/amasty/blog/cache/1/7/1730/800/1730x800-honden-bakfiets_1-444-354-934.jpg"/>
    <div class="card-product-infos">
      <h2>Cargo Babboe</h2>
      <p>Experience the Cargo Babboe, your ultimate solution for family transportation! Designed for safety and comfort, it's perfect for carrying children, groceries, and more with ease.</p>
    </div>
  </div>

  <div class="card-product">
      <img src="https://media.istockphoto.com/id/187863974/fr/photo/femme-%C3%A0-v%C3%A9lo-avec-bande-annonce.jpg?s=612x612&w=0&k=20&c=jdlRUr5C59EXJ4sF0_FoEqw06kCRedIV9k0E0r2Hnp4=" />
      <div class="card-product-infos">
        <h2>Bicycle Trailer</h2>
        <p>Enhance your cycling experience with our practical Bicycle Trailer! Ideal for carrying children, pets, or groceries, this trailer offers a safe and convenient way to transport your essentials while enjoying a smooth ride.</p>
      </div>
    </div>

    <div class="card-product">
      <img src="https://www.amsterdamair.fr/img/c/5275.jpg"/>
      <div class="card-product-infos">
        <h2>Long Tail Bike</h2>
        <p>Experience the convenience of our Long Tail Bike, perfect for family outings and heavy loads! Designed with extended rear storage, it offers ample space for passengers or cargo, ensuring a comfortable and balanced ride.</p>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> for Easy Wheel
  </div>
</div>
