<body class="homepage">
<div class="video-background">
  <video autoplay loop muted>
    <source src="<%= asset_path('videobikes.mp4') %>" type="video/mp4">
    <!-- Si la vidéo n'est pas supportée -->
    Votre navigateur ne supporte pas la lecture de vidéos au format MP4.
  </video>
</div>
<div class="content">
  <h1>Easy Wheel</h1>
  <p>Rent a bike for any occasion or turn your wheels into cash!</p>
    <div class="button-group">
      <a href="<%= bikes_path %>" class="btn">Rent a Bike</a>
      <a href="<%= new_bike_path %>" class="btn">List My Bike</a>
  </div>
</div>
</body>
