<div class="d-flex justify-content-center align-items-center container-background">
  <div class="card card-custom w-45 p-4">
    <h1 class="text-center mb-4 text-formbike">Rent your bike, earn money!</h1>
    <%= render "form_new", bike: @bike %>
  </div>
</div>
