.card-product {
  overflow: hidden;
  height: 120px;
  width: 900px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  border-radius: 10px;
  text-decoration: none;
  color: $blueJO;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


.cards-grid {
  display: flex;
  flex-wrap: wrap;
}

.card-index {
  width: 18rem;
  margin: 16px;
  text-decoration: none;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  color: $blueJO;
}

.card-index img {
  height: 250px;
  object-fit: cover;
}
.card-index h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 2px;
}
.card-index h3 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}

.card-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.datepicker {
  position: sticky;
  top: 0;
  align-self: flex-start; /* Assurez-vous que la div est alignée au début de la colonne */
}

.showimage {
  width: 100%;
  height: 90vh;
}

.mapindex {
  position: sticky;
  top: 15px;
  width: 100vh;
  height: 90vh;
}

.image-dash {
  width: 100px;
  height: 100px;
}
